[submodule "3rdparty/wasm3"]
	path = 3rdparty/wasm3
	url = https://github.com/fredldotme/wasm3.git
[submodule "3rdparty/llvm"]
	path = 3rdparty/llvm
	url = https://github.com/fredldotme/llvm-project.git
	branch = iossystem302
[submodule "3rdparty/libqmakeparser"]
	path = 3rdparty/libqmakeparser
	url = https://github.com/fredldotme/libqmakeparser.git
[submodule "3rdparty/yaml-cpp"]
	path = 3rdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "3rdparty/jsoncpp"]
	path = 3rdparty/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "3rdparty/wamr"]
	path = 3rdparty/wamr
	url = https://github.com/bytecodealliance/wasm-micro-runtime.git
[submodule "3rdparty/curl"]
	path = 3rdparty/curl
	url = https://github.com/curl/curl.git
[submodule "3rdparty/openssl"]
	path = 3rdparty/openssl
	url = https://github.com/openssl/openssl.git
[submodule "3rdparty/lsp-cpp"]
	path = 3rdparty/lsp-cpp
	url = https://github.com/fredldotme/lsp-cpp.git
[submodule "3rdparty/json-c"]
	path = 3rdparty/json-c
	url = https://github.com/json-c/json-c.git
[submodule "3rdparty/rust"]
	path = 3rdparty/rust
	url = https://github.com/fredldotme/rust.git
[submodule "3rdparty/CMake"]
	path = 3rdparty/CMake
	url = https://github.com/fredldotme/CMake.git
[submodule "3rdparty/ninja"]
	path = 3rdparty/ninja
	url = https://github.com/fredldotme/ninja.git
