[submodule "3rdparty/wasm3"]
	path = 3rdparty/wasm3
	url = https://github.com/fredldotme/wasm3.git
[submodule "3rdparty/llvm"]
	path = 3rdparty/llvm
	url = https://github.com/fredldotme/llvm-project.git
	branch = iossystem302
[submodule "3rdparty/libqmakeparser"]
	path = 3rdparty/libqmakeparser
	url = https://github.com/fredldotme/libqmakeparser.git
[submodule "3rdparty/yaml-cpp"]
	path = 3rdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "3rdparty/jsoncpp"]
	path = 3rdparty/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "3rdparty/wamr"]
	path = 3rdparty/wamr
	url = https://github.com/fredldotme/wasm-micro-runtime.git
[submodule "3rdparty/curl"]
	path = 3rdparty/curl
	url = https://github.com/curl/curl.git
[submodule "3rdparty/openssl"]
	path = 3rdparty/openssl
	url = https://github.com/openssl/openssl.git
[submodule "3rdparty/lsp-cpp"]
	path = 3rdparty/lsp-cpp
	url = https://github.com/fredldotme/lsp-cpp.git
[submodule "3rdparty/json-c"]
	path = 3rdparty/json-c
	url = https://github.com/fredldotme/json-c.git
[submodule "3rdparty/rust"]
	path = 3rdparty/rust
	url = https://github.com/fredldotme/rust.git
[submodule "3rdparty/CMake"]
	path = 3rdparty/CMake
	url = https://github.com/fredldotme/CMake.git
[submodule "3rdparty/ninja"]
	path = 3rdparty/ninja
	url = https://github.com/fredldotme/ninja.git
[submodule "3rdparty/microtar"]
	path = 3rdparty/microtar
	url = https://github.com/rxi/microtar.git
[submodule "3rdparty/wasix-libc"]
	path = 3rdparty/wasix-libc
	url = https://github.com/fredldotme/wasix-libc.git
[submodule "3rdparty/wasix-sdk"]
	path = 3rdparty/wasix-sdk
	url = https://github.com/fredldotme/wasix-sdk.git
[submodule "3rdparty/libcyaml"]
	path = 3rdparty/libcyaml
	url = https://github.com/tlsa/libcyaml.git
[submodule "3rdparty/libarchive"]
	path = 3rdparty/libarchive
	url = https://github.com/libarchive/libarchive.git
[submodule "3rdparty/SDL"]
	path = 3rdparty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "3rdparty/libyaml"]
	path = 3rdparty/libyaml
	url = https://github.com/fredldotme/libyaml.git
[submodule "3rdparty/wasi-sdk"]
	path = 3rdparty/wasi-sdk
	url = https://github.com/fredldotme/wasi-sdk.git
[submodule "3rdparty/wasi-sdk/"]
	url = git@github.com:fredldotme/wasi-sdk.git
[submodule "3rdparty/wasi-libc"]
	path = 3rdparty/wasi-libc
	url = https://github.com/WebAssembly/wasi-libc.git
[submodule "3rdparty/openssl-wasm"]
	path = 3rdparty/openssl-wasm
	url = https://github.com/fredldotme/openssl-wasm.git
[submodule "3rdparty/cpython"]
	path = 3rdparty/cpython
	url = https://github.com/python/cpython.git
[submodule "3rdparty/libgit2"]
	path = 3rdparty/libgit2
	url = https://github.com/fredldotme/libgit2.git
[submodule "3rdparty/threadweaver"]
	path = 3rdparty/threadweaver
	url = https://invent.kde.org/frameworks/threadweaver.git
[submodule "3rdparty/unixy"]
	path = 3rdparty/unixy
	url = https://github.com/fredldotme/unixy.git
[submodule "3rdparty/libssh2"]
	path = 3rdparty/libssh2
	url = https://github.com/libssh2/libssh2.git
[submodule "3rdparty/mbedtls"]
	path = 3rdparty/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "3rdparty/QtIosCMake"]
	path = 3rdparty/QtIosCMake
	url = https://github.com/OlivierLDff/QtIosCMake.git
